body  {
	font-family:'georgia';
	background-color: #EFF3D2;
	margin: 0;
	padding: 0;
}

img {
	border: none;
	width: 200px;
	
}

.images {
	float: left;
	margin-top: 40px;
	margin-right: 20px;
}
text {
	width: 460px;
	float: right;
	margin-top: 40px;

}

.container {
	width: 1100px;
}

/* Navigation*/

.sidemenu {
	float: left;
	width: 250px;
	height: auto;
	position: absolute;
	background-color: #f4a460;
	margin-top: -180px;
	margin-left:0px;
}

.sidemenu ul {
	
	list-style-type: none;
	text-align: right;
	margin: 169px 30px 0px 30px;
	border-top: 1px solid #C40C1D;
	padding: 50px 5px 0px 5px;
}

.sidemenu a {
	display: block;
	padding: 7px 0 7px 0;
	font-size: 14px;
	letter-spacing: 2px;

}

.sidemenu a:link , .sidemenu a:visited{
	text-decoration: none;
	color: #000000;
}

.sidemenu a:hover {
	color: #C40C1D;
}

.sidemenu ul li.selected a {
	color: #C40C1D
}


li {
	display: list-item;
	text-align: -webkit-match-parent
}

/* Header*/

header {
        padding: 0 40px 0 40px;
	margin-left:200px;
}

h1 {
        font-family: 'Telex', sans-serif;
        font-size: 28px;
        margin: 35px 0px 35px 0px;
}

img.logo {
        width: 893px;
        height: 145px;
}

/* Content*/

.content {
	width: 873px;
	margin-left: 240px;
	padding: 0 40px 0 40px;
}

h2 {
	font-family: 'Telex', sans-serif;
        font-size: 20px;
        margin: 35px 0px 35px 0px;
	border-bottom: solid 1px #FFF;
	padding: 0 40px 10px 40px;
	width: 738px;
	color: #f4a460;
}